{% extends "base.html" %}
{% block content %}

<div class="px-3 py-2 bg-gray-100 hover:bg-gray-300 block my-2 rounded-sm">
    <h3 class="text-3xl "> {{ listing.title }}</h3>
    <p class="text-gray-900">${{ listing.price }}</p>
    <p class="text-gray-600 text-sm">{{ listing.address }}</p>

      {% if request.user.is_staff %}
    <div class="mt-5 py-5 border-t border-gray-200">
        <a href="/listings/{{ listing.id }}/edit/"class="text-blue-500 hover:text-blue-700 text-sm">
    Edit 
 </a> 
 <a href="/listings/{{ listing.id }}/delete/"class=" ml-3 text-blue-500 hover:text-blue-700 text-sm">
    Delete 
 </a> 
 </div>
    {% endif %}
   
</div>
 

{% endblock  %}